.change-password-container {
    margin: auto;
    background-color: #BDECE3;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    margin-top: 30px;
    width: 40%;
    max-width: 600px;
    border-color: #6DD6C2;
    border-style: solid;
    border-width: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  h2{
    text-align: center;
    color: black;
  
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"],
  #change-email-button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 15px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #change-email-button[type="submit"] {
    background-color: #1f6f5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #change-email-button[type="submit"]:hover {
    background-color: #6DD6C2;
  }
  
        