#Anubhavmainpagesquarebox {
align-items: center;
border-radius: 3px;
border-color: #831958;
    width: 600px; /* Adjust width as needed */
    height: 500px; /* Adjust height as needed */
    background-color: #947c1b; /* Background color of the div */
    border-radius: 5px; /* Border radius for square edges */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center; /* Center content vertically */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    
    
     /* Ensure square is centered on the page */
  }
  #Anubhavmaintextcontentinsidesquarebox{
    padding-left: 150px;
  }
  /* ForgotPassword.css */

/* Define custom styles for the button with id="buttonsubmit" */
#buttonsubmit {
    width: 180px;
    height:80px;
  }
  