.heading{
    font-size: 30px;
    padding-bottom: 20px;
    color: black;
}

.viewContainer ul{
    display: flex;
    flex-direction: column;
}

.viewContainer ul li{
    padding-bottom: 10px;
    font-size: 18px;
    color: black;
}

.viewContainer {
    background-color: #BDECE3;
    border-color: #6DD6C2;
}

.buttons-for-doctors {
    background-color: #1f6f5f;
    display: flex;
    margin: 4% auto ;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
}

.buttons-for-doctors:hover {
    background-color: #6DD6C2;
}