.heading{
    font-size: 30px;
    padding-bottom: 20px;
    color: black;
}

.viewContainer ul{
    display: flex;
    flex-direction: column;
}

.viewContainer ul li{
    padding-bottom: 10px;
    font-size: 18px;
    color: black;
}

.appointmentData{
    margin-bottom: 50px;
}

.viewContainer {
    background-color: #BDECE3;
    border-color: #6DD6C2;
}